@model List<UserVM>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-between">
                    <h2 class="card-title">Users</h2>
                    <a asp-action="Create" class="btn btn-primary text-white btn-rounded">Create</a>
                </div>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Status</th>
                                <th class="text-right">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (UserVM item in Model)
                            {
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Surname</td>
                                    <td>@item.Username</td>
                                    <td>@item.Email</td>
                                    <td>@item.Role</td>
                                    <td>
                                        @if (item.IsDeactive)
                                        {
                                            <span class="text-danger">Deactive</span>
                                        }
                                        else
                                        {
                                            <span class="text-success">Active</span>
                                        }
                                    </td>
                                    <td class="d-flex justify-content-end">
                                        <a asp-action="ResetPassword" asp-route-id="@item.Id" class="btn btn-warning text-white btn-rounded mx-2">Reset Pasword</a>
                                        <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-success text-white btn-rounded mx-2">Update</a>
                                        @if (item.Username != User.Identity.Name)
                                        {
                                            @if (item.IsDeactive)
                                            {
                                                <a asp-action="Activity" asp-route-id="@item.Id" class="btn btn-success text-white btn-rounded">Activate</a>
                                            }
                                            else
                                            {
                                                <a asp-action="Activity" asp-route-id="@item.Id" class="btn btn-danger text-white btn-rounded">Deactivate</a>
                                            }

                                        }

                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

@*@if (User.IsInRole("SuperAdmin") || User.IsInRole("Admin"))
    {

    }
     else
    {

    }*@
